.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include xs {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }

    @include lg {
        flex-direction: row;
        padding: 2rem 3rem;
    }

    &-info {
        display: flex;
        gap: 6rem;
        height: 100%;
    }

    .call-info,
    .email-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        span {
            text-align: center;
            font-weight: bold;
            font-family: $josefinFont;
        }
    }
}
