* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @include xs {
        font-size: 50%;
    }

    @include md {
        font-size: 56.25%;
    }

    @include lg {
        font-size: 62.5;
    }

    @include xl {
        font-size: 87.5;
    }
}

body {
    font-family: $robotoFont;
    @include xs {
        font-size: 1.6rem;
    }
    @include md {
        font-size: 1.8rem;
    }
}

.header-wrapper {
    z-index: 99;
}

.sticky-header {
    position: sticky;
    top: 0;
    padding: 0.5rem 2rem;
    background-color: $whiteColor;
}

.section-padding {
    padding: 4rem 5rem;
}

.page-title {
    font-size: 4rem;
    font-weight: bold;
    font-family: $josefinFont;
    justify-self: center;
}

a {
    text-decoration: none;
    &:link,
    &:visited,
    &:hover {
        color: initial;
    }
}

h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.title {
        font-size: 2rem;
        color: $blackColor;
    }
}

button {
    cursor: pointer;
    background-color: $primaryColor;
    padding: 1rem 2rem;
    color: $whiteColor;
    font-size: 1.6rem;
    font-weight: bold;
    outline: none;
    outline-color: $whiteColor;

    &:hover {
        background-color: $whiteColor;
        color: $primaryColor;
        outline: 2px solid $primaryColor;
    }
}

*::selection {
    background-color: $selectorColor;
    color: $primaryColor;
}
