$avatarDimension: 15rem;
$certificateDimension: 50rem;

$primaryColor: #4e65c6;
$secondaryColor: #e6dace;
$whiteColor: #fff;
$blackColor: #000;
$selectorColor: yellow;

$robotoFont: 'Roboto', sans-serif;
$josefinFont: 'Josefin Sans', sans-serif;
$oswaldFont: 'Oswald', sans-serif;
